.banner {
    background-image: url('https://i.ibb.co/gvBdPPZ/pexels-photo-1309408.jpg');
    position: relative;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }